/* glue: 0.13 hash: dbdc0b07a6 */
        .sprite-images-users,
.sprite-images-security-identity-and-compliance,
.sprite-images-reserved-instance-reporting,
.sprite-images-mobile,
.sprite-images-machine-learning,
.sprite-images-iot_generic,
.sprite-images-internet-of-things,
.sprite-images-elastic-load-balancing,
.sprite-images-developer-tools,
.sprite-images-database,
.sprite-images-corporate-data-center,
.sprite-images-aws-x-ray,
.sprite-images-aws-waf,
.sprite-images-aws-trusted-advisor,
.sprite-images-aws-transfer-for-sftp,
.sprite-images-aws-systems-manager,
.sprite-images-aws-storage-gateway,
.sprite-images-aws-step-functions,
.sprite-images-aws-snowball,
.sprite-images-aws-snow-family_snowball-import-export,
.sprite-images-aws-single-sign-on,
.sprite-images-aws-shield_shield-advanced,
.sprite-images-aws-service-catalog,
.sprite-images-aws-serverless-application-repository,
.sprite-images-aws-security-hub,
.sprite-images-aws-secrets-manager,
.sprite-images-aws-robomaker,
.sprite-images-aws-resource-access-manager,
.sprite-images-aws-personal-health-dashboard,
.sprite-images-aws-organizations,
.sprite-images-aws-opsworks,
.sprite-images-aws-migration-hub,
.sprite-images-aws-marketplace,
.sprite-images-aws-license-manager,
.sprite-images-aws-lambda,
.sprite-images-aws-lake-formation,
.sprite-images-aws-key-management-service,
.sprite-images-aws-iot-things-graph,
.sprite-images-aws-iot-greengrass,
.sprite-images-aws-iot-events,
.sprite-images-aws-iot-analytics_notebook,
.sprite-images-aws-iot-analytics,
.sprite-images-aws-iot-1-click,
.sprite-images-aws-identity-and-access-management_iam,
.sprite-images-aws-identity-and-access-management-iam_data-encryption-key,
.sprite-images-aws-identity-and-access-management-iam_aws-sts,
.sprite-images-aws-ground-station,
.sprite-images-aws-glue,
.sprite-images-aws-global-accelerator,
.sprite-images-aws-firewall-manager,
.sprite-images-aws-elemental-mediatailor,
.sprite-images-aws-elemental-mediastore,
.sprite-images-aws-elemental-mediapackage,
.sprite-images-aws-elemental-medialive,
.sprite-images-aws-elemental-mediaconvert,
.sprite-images-aws-elemental-mediaconnect,
.sprite-images-aws-elastic-beanstalk,
.sprite-images-aws-directory-service,
.sprite-images-aws-direct-connect,
.sprite-images-aws-device-farm,
.sprite-images-aws-datasync,
.sprite-images-aws-database-migration-service,
.sprite-images-aws-data-pipeline,
.sprite-images-aws-cost-explorer,
.sprite-images-aws-cost-and-usage-report,
.sprite-images-aws-config,
.sprite-images-aws-codestar,
.sprite-images-aws-codepipeline,
.sprite-images-aws-codedeploy,
.sprite-images-aws-codecommit,
.sprite-images-aws-codebuild,
.sprite-images-aws-cloudtrail,
.sprite-images-aws-cloudhsm,
.sprite-images-aws-cloudformation,
.sprite-images-aws-cloud9,
.sprite-images-aws-cloud-alt,
.sprite-images-aws-certificate-manager,
.sprite-images-aws-certificate-authority,
.sprite-images-aws-budgets,
.sprite-images-aws-batch,
.sprite-images-aws-backup,
.sprite-images-aws-appsync,
.sprite-images-aws-app-mesh,
.sprite-images-aws-amplify,
.sprite-images-application-integration_event_resource,
.sprite-images-amazon-workspaces,
.sprite-images-amazon-workmail,
.sprite-images-amazon-worklink,
.sprite-images-amazon-workdocs,
.sprite-images-amazon-vpc_router,
.sprite-images-amazon-translate,
.sprite-images-amazon-transcribe,
.sprite-images-amazon-textract,
.sprite-images-amazon-simple-storage-service-s3_bucket-with-objects,
.sprite-images-amazon-simple-storage-service-s3,
.sprite-images-amazon-simple-queue-service-sqs,
.sprite-images-amazon-simple-notification-service-sns,
.sprite-images-amazon-simple-email-service-ses,
.sprite-images-amazon-sagemaker,
.sprite-images-amazon-s3-glacier,
.sprite-images-amazon-route-53,
.sprite-images-amazon-rekognition,
.sprite-images-amazon-redshift,
.sprite-images-amazon-rds,
.sprite-images-amazon-quicksight,
.sprite-images-amazon-quantum-ledger-database_qldb,
.sprite-images-amazon-polly,
.sprite-images-amazon-pinpoint,
.sprite-images-amazon-personalize,
.sprite-images-amazon-mq,
.sprite-images-amazon-managed-streaming-for-kafka,
.sprite-images-amazon-managed-blockchain,
.sprite-images-amazon-macie,
.sprite-images-amazon-lightsail,
.sprite-images-amazon-lex,
.sprite-images-amazon-kinesis,
.sprite-images-amazon-kinesis-video-streams,
.sprite-images-amazon-kinesis-data-firehose,
.sprite-images-amazon-kinesis-data-analytics,
.sprite-images-amazon-inspector,
.sprite-images-amazon-guardduty,
.sprite-images-amazon-gamelift,
.sprite-images-amazon-fsx,
.sprite-images-amazon-forecast,
.sprite-images-amazon-eventbridge,
.sprite-images-amazon-emr,
.sprite-images-amazon-elasticsearch-service,
.sprite-images-amazon-elasticache,
.sprite-images-amazon-elastic-transcoder,
.sprite-images-amazon-elastic-kubernetes-service,
.sprite-images-amazon-elastic-inference,
.sprite-images-amazon-elastic-file-system_efs,
.sprite-images-amazon-elastic-container-service,
.sprite-images-amazon-elastic-block-store-ebs,
.sprite-images-amazon-ec2_auto-scaling,
.sprite-images-amazon-ec2_ami,
.sprite-images-amazon-ec2,
.sprite-images-amazon-ec2-container-registry,
.sprite-images-amazon-dynamodb_dax,
.sprite-images-amazon-dynamodb,
.sprite-images-amazon-connect,
.sprite-images-amazon-comprehend,
.sprite-images-amazon-cognito,
.sprite-images-amazon-cloudwatch,
.sprite-images-amazon-cloudsearch,
.sprite-images-amazon-cloudfront,
.sprite-images-amazon-cloud-directory,
.sprite-images-amazon-chime,
.sprite-images-amazon-aurora,
.sprite-images-amazon-athena,
.sprite-images-amazon-appstream-2_0,
.sprite-images-amazon-application-auto-scaling,
.sprite-images-amazon-api-gateway,
.sprite-images-alexa-for-business {
            background-image: url('images.png');
            background-repeat: no-repeat;
        }
        
        .sprite-images-users {
            background-position: 0 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-security-identity-and-compliance {
            background-position: -64px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-reserved-instance-reporting {
            background-position: 0 -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-mobile {
            background-position: -64px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-machine-learning {
            background-position: -128px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-iot_generic {
            background-position: -128px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-internet-of-things {
            background-position: 0 -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-elastic-load-balancing {
            background-position: -64px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-developer-tools {
            background-position: -128px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-database {
            background-position: -192px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-corporate-data-center {
            background-position: -192px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-x-ray {
            background-position: -192px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-waf {
            background-position: 0 -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-trusted-advisor {
            background-position: -64px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-transfer-for-sftp {
            background-position: -128px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-systems-manager {
            background-position: -192px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-storage-gateway {
            background-position: -256px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-step-functions {
            background-position: -256px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-snowball {
            background-position: -256px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-snow-family_snowball-import-export {
            background-position: -256px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-single-sign-on {
            background-position: 0 -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-shield_shield-advanced {
            background-position: -64px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-service-catalog {
            background-position: -128px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-serverless-application-repository {
            background-position: -192px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-security-hub {
            background-position: -256px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-secrets-manager {
            background-position: -320px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-robomaker {
            background-position: -320px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-resource-access-manager {
            background-position: -320px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-personal-health-dashboard {
            background-position: -320px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-organizations {
            background-position: -320px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-opsworks {
            background-position: 0 -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-migration-hub {
            background-position: -64px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-marketplace {
            background-position: -128px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-license-manager {
            background-position: -192px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-lambda {
            background-position: -256px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-lake-formation {
            background-position: -320px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-key-management-service {
            background-position: -384px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-things-graph {
            background-position: -384px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-greengrass {
            background-position: -384px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-events {
            background-position: -384px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-analytics_notebook {
            background-position: -384px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-analytics {
            background-position: -384px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-iot-1-click {
            background-position: 0 -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-identity-and-access-management_iam {
            background-position: -64px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-identity-and-access-management-iam_data-encryption-key {
            background-position: -128px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-identity-and-access-management-iam_aws-sts {
            background-position: -192px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-ground-station {
            background-position: -256px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-glue {
            background-position: -320px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-global-accelerator {
            background-position: -384px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-firewall-manager {
            background-position: -448px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-mediatailor {
            background-position: -448px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-mediastore {
            background-position: -448px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-mediapackage {
            background-position: -448px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-medialive {
            background-position: -448px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-mediaconvert {
            background-position: -448px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elemental-mediaconnect {
            background-position: -448px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-elastic-beanstalk {
            background-position: 0 -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-directory-service {
            background-position: -64px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-direct-connect {
            background-position: -128px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-device-farm {
            background-position: -192px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-datasync {
            background-position: -256px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-database-migration-service {
            background-position: -320px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-data-pipeline {
            background-position: -384px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cost-explorer {
            background-position: -448px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cost-and-usage-report {
            background-position: -512px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-config {
            background-position: -512px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-codestar {
            background-position: -512px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-codepipeline {
            background-position: -512px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-codedeploy {
            background-position: -512px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-codecommit {
            background-position: -512px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-codebuild {
            background-position: -512px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cloudtrail {
            background-position: -512px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cloudhsm {
            background-position: 0 -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cloudformation {
            background-position: -64px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cloud9 {
            background-position: -128px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-cloud-alt {
            background-position: -192px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-certificate-manager {
            background-position: -256px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-certificate-authority {
            background-position: -320px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-budgets {
            background-position: -384px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-batch {
            background-position: -448px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-backup {
            background-position: -512px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-appsync {
            background-position: -576px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-app-mesh {
            background-position: -576px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-aws-amplify {
            background-position: -576px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-application-integration_event_resource {
            background-position: -576px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-workspaces {
            background-position: -576px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-workmail {
            background-position: -576px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-worklink {
            background-position: -576px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-workdocs {
            background-position: -576px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-vpc_router {
            background-position: -576px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-translate {
            background-position: 0 -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-transcribe {
            background-position: -64px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-textract {
            background-position: -128px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-simple-storage-service-s3_bucket-with-objects {
            background-position: -192px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-simple-storage-service-s3 {
            background-position: -256px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-simple-queue-service-sqs {
            background-position: -320px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-simple-notification-service-sns {
            background-position: -384px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-simple-email-service-ses {
            background-position: -448px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-sagemaker {
            background-position: -512px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-s3-glacier {
            background-position: -576px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-route-53 {
            background-position: -640px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-rekognition {
            background-position: -640px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-redshift {
            background-position: -640px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-rds {
            background-position: -640px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-quicksight {
            background-position: -640px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-quantum-ledger-database_qldb {
            background-position: -640px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-polly {
            background-position: -640px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-pinpoint {
            background-position: -640px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-personalize {
            background-position: -640px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-mq {
            background-position: -640px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-managed-streaming-for-kafka {
            background-position: 0 -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-managed-blockchain {
            background-position: -64px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-macie {
            background-position: -128px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-lightsail {
            background-position: -192px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-lex {
            background-position: -256px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-kinesis {
            background-position: -320px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-kinesis-video-streams {
            background-position: -384px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-kinesis-data-firehose {
            background-position: -448px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-kinesis-data-analytics {
            background-position: -512px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-inspector {
            background-position: -576px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-guardduty {
            background-position: -640px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-gamelift {
            background-position: -704px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-fsx {
            background-position: -704px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-forecast {
            background-position: -704px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-eventbridge {
            background-position: -704px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-emr {
            background-position: -704px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elasticsearch-service {
            background-position: -704px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elasticache {
            background-position: -704px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-transcoder {
            background-position: -704px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-kubernetes-service {
            background-position: -704px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-inference {
            background-position: -704px -576px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-file-system_efs {
            background-position: -704px -640px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-container-service {
            background-position: 0 -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-elastic-block-store-ebs {
            background-position: -64px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-ec2_auto-scaling {
            background-position: -128px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-ec2_ami {
            background-position: -192px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-ec2 {
            background-position: -256px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-ec2-container-registry {
            background-position: -320px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-dynamodb_dax {
            background-position: -384px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-dynamodb {
            background-position: -448px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-connect {
            background-position: -512px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-comprehend {
            background-position: -576px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-cognito {
            background-position: -640px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-cloudwatch {
            background-position: -704px -704px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-cloudsearch {
            background-position: -768px 0;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-cloudfront {
            background-position: -768px -64px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-cloud-directory {
            background-position: -768px -128px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-chime {
            background-position: -768px -192px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-aurora {
            background-position: -768px -256px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-athena {
            background-position: -768px -320px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-appstream-2_0 {
            background-position: -768px -384px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-application-auto-scaling {
            background-position: -768px -448px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-amazon-api-gateway {
            background-position: -768px -512px;
            width: 64px;
            height: 64px;
        }
        
        .sprite-images-alexa-for-business {
            background-position: -768px -576px;
            width: 64px;
            height: 64px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-images-users,
    .sprite-images-security-identity-and-compliance,
    .sprite-images-reserved-instance-reporting,
    .sprite-images-mobile,
    .sprite-images-machine-learning,
    .sprite-images-iot_generic,
    .sprite-images-internet-of-things,
    .sprite-images-elastic-load-balancing,
    .sprite-images-developer-tools,
    .sprite-images-database,
    .sprite-images-corporate-data-center,
    .sprite-images-aws-x-ray,
    .sprite-images-aws-waf,
    .sprite-images-aws-trusted-advisor,
    .sprite-images-aws-transfer-for-sftp,
    .sprite-images-aws-systems-manager,
    .sprite-images-aws-storage-gateway,
    .sprite-images-aws-step-functions,
    .sprite-images-aws-snowball,
    .sprite-images-aws-snow-family_snowball-import-export,
    .sprite-images-aws-single-sign-on,
    .sprite-images-aws-shield_shield-advanced,
    .sprite-images-aws-service-catalog,
    .sprite-images-aws-serverless-application-repository,
    .sprite-images-aws-security-hub,
    .sprite-images-aws-secrets-manager,
    .sprite-images-aws-robomaker,
    .sprite-images-aws-resource-access-manager,
    .sprite-images-aws-personal-health-dashboard,
    .sprite-images-aws-organizations,
    .sprite-images-aws-opsworks,
    .sprite-images-aws-migration-hub,
    .sprite-images-aws-marketplace,
    .sprite-images-aws-license-manager,
    .sprite-images-aws-lambda,
    .sprite-images-aws-lake-formation,
    .sprite-images-aws-key-management-service,
    .sprite-images-aws-iot-things-graph,
    .sprite-images-aws-iot-greengrass,
    .sprite-images-aws-iot-events,
    .sprite-images-aws-iot-analytics_notebook,
    .sprite-images-aws-iot-analytics,
    .sprite-images-aws-iot-1-click,
    .sprite-images-aws-identity-and-access-management_iam,
    .sprite-images-aws-identity-and-access-management-iam_data-encryption-key,
    .sprite-images-aws-identity-and-access-management-iam_aws-sts,
    .sprite-images-aws-ground-station,
    .sprite-images-aws-glue,
    .sprite-images-aws-global-accelerator,
    .sprite-images-aws-firewall-manager,
    .sprite-images-aws-elemental-mediatailor,
    .sprite-images-aws-elemental-mediastore,
    .sprite-images-aws-elemental-mediapackage,
    .sprite-images-aws-elemental-medialive,
    .sprite-images-aws-elemental-mediaconvert,
    .sprite-images-aws-elemental-mediaconnect,
    .sprite-images-aws-elastic-beanstalk,
    .sprite-images-aws-directory-service,
    .sprite-images-aws-direct-connect,
    .sprite-images-aws-device-farm,
    .sprite-images-aws-datasync,
    .sprite-images-aws-database-migration-service,
    .sprite-images-aws-data-pipeline,
    .sprite-images-aws-cost-explorer,
    .sprite-images-aws-cost-and-usage-report,
    .sprite-images-aws-config,
    .sprite-images-aws-codestar,
    .sprite-images-aws-codepipeline,
    .sprite-images-aws-codedeploy,
    .sprite-images-aws-codecommit,
    .sprite-images-aws-codebuild,
    .sprite-images-aws-cloudtrail,
    .sprite-images-aws-cloudhsm,
    .sprite-images-aws-cloudformation,
    .sprite-images-aws-cloud9,
    .sprite-images-aws-cloud-alt,
    .sprite-images-aws-certificate-manager,
    .sprite-images-aws-certificate-authority,
    .sprite-images-aws-budgets,
    .sprite-images-aws-batch,
    .sprite-images-aws-backup,
    .sprite-images-aws-appsync,
    .sprite-images-aws-app-mesh,
    .sprite-images-aws-amplify,
    .sprite-images-application-integration_event_resource,
    .sprite-images-amazon-workspaces,
    .sprite-images-amazon-workmail,
    .sprite-images-amazon-worklink,
    .sprite-images-amazon-workdocs,
    .sprite-images-amazon-vpc_router,
    .sprite-images-amazon-translate,
    .sprite-images-amazon-transcribe,
    .sprite-images-amazon-textract,
    .sprite-images-amazon-simple-storage-service-s3_bucket-with-objects,
    .sprite-images-amazon-simple-storage-service-s3,
    .sprite-images-amazon-simple-queue-service-sqs,
    .sprite-images-amazon-simple-notification-service-sns,
    .sprite-images-amazon-simple-email-service-ses,
    .sprite-images-amazon-sagemaker,
    .sprite-images-amazon-s3-glacier,
    .sprite-images-amazon-route-53,
    .sprite-images-amazon-rekognition,
    .sprite-images-amazon-redshift,
    .sprite-images-amazon-rds,
    .sprite-images-amazon-quicksight,
    .sprite-images-amazon-quantum-ledger-database_qldb,
    .sprite-images-amazon-polly,
    .sprite-images-amazon-pinpoint,
    .sprite-images-amazon-personalize,
    .sprite-images-amazon-mq,
    .sprite-images-amazon-managed-streaming-for-kafka,
    .sprite-images-amazon-managed-blockchain,
    .sprite-images-amazon-macie,
    .sprite-images-amazon-lightsail,
    .sprite-images-amazon-lex,
    .sprite-images-amazon-kinesis,
    .sprite-images-amazon-kinesis-video-streams,
    .sprite-images-amazon-kinesis-data-firehose,
    .sprite-images-amazon-kinesis-data-analytics,
    .sprite-images-amazon-inspector,
    .sprite-images-amazon-guardduty,
    .sprite-images-amazon-gamelift,
    .sprite-images-amazon-fsx,
    .sprite-images-amazon-forecast,
    .sprite-images-amazon-eventbridge,
    .sprite-images-amazon-emr,
    .sprite-images-amazon-elasticsearch-service,
    .sprite-images-amazon-elasticache,
    .sprite-images-amazon-elastic-transcoder,
    .sprite-images-amazon-elastic-kubernetes-service,
    .sprite-images-amazon-elastic-inference,
    .sprite-images-amazon-elastic-file-system_efs,
    .sprite-images-amazon-elastic-container-service,
    .sprite-images-amazon-elastic-block-store-ebs,
    .sprite-images-amazon-ec2_auto-scaling,
    .sprite-images-amazon-ec2_ami,
    .sprite-images-amazon-ec2,
    .sprite-images-amazon-ec2-container-registry,
    .sprite-images-amazon-dynamodb_dax,
    .sprite-images-amazon-dynamodb,
    .sprite-images-amazon-connect,
    .sprite-images-amazon-comprehend,
    .sprite-images-amazon-cognito,
    .sprite-images-amazon-cloudwatch,
    .sprite-images-amazon-cloudsearch,
    .sprite-images-amazon-cloudfront,
    .sprite-images-amazon-cloud-directory,
    .sprite-images-amazon-chime,
    .sprite-images-amazon-aurora,
    .sprite-images-amazon-athena,
    .sprite-images-amazon-appstream-2_0,
    .sprite-images-amazon-application-auto-scaling,
    .sprite-images-amazon-api-gateway,
    .sprite-images-alexa-for-business {
                background-image: url('images.png');
                -webkit-background-size: 832px 768px;
                -moz-background-size: 832px 768px;
                background-size: 832px 768px;
            }
        }
        