{% extends "template.j2" %}
{% from "macros.j2" import render_service_summary %}

{% block navigation %}

<nav class="breadcrumb is-left" style="padding-left: 3em;" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">API Changes</a></li>
    <li><a href="/archive/service">Services</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{service_title}}</a></li>
  </ul>
</nav>
    
{% endblock %}

{% block topmast %}

<section style="padding-bottom: 1em" class="section">
  <div class="container">
    <h1 class="title has-text-centered">
      <span class="is-inline-block {{icon_style(service)}}">&nbsp;</span> &nbsp; {{service_title}}
    </h1>
  </div>
</section>

{% endblock %}

{% block content %}

<section class="section" style="padding-top: 1em">
  <div class="tile is-ancestor">
    <div class="tile is-12 is-vertical is-parent">
      {% for release in releases %}
      {% for svc_change in release.select(service) %}
      <div class="tile is-child box">
          {{ render_service_summary(release, svc_change, include_name=False) }}
      </div>
      {% endfor %}
      {% endfor %}	   
    </div>
  </div>
</section>

{% endblock %}
